<div class="main-content">
    <div class="contentDetail">
        <div class="popularAudio col-12">
            <span class="btnTitle">Popular Audios</span>
            <br>
            <br>
            <br>
            <div class="audio col-6">
                <div class="audioName">
                    <a href="#">The sun in my heart</a>
                </div>
                <div class="extraInfo">Author: Sangbk | Level : 1 | Category : Love</div>
            </div>
            <div class="audio col-6">
                <div class="audioName">
                    <a href="#">The sun in my heart</a>
                </div>
                <div class="extraInfo">Author: Sangbk | Level : 1 | Category : Love</div>
            </div>
            <div class="audio col-6">
                <div class="audioName">
                    <a href="#">The sun in my heart</a>
                </div>
                <div class="extraInfo">Author: Sangbk | Level : 1 | Category : Love</div>
            </div>
            <div class="audio col-6">
                <div class="audioName">
                    <a href="#">The sun in my heart</a>
                </div>
                <div class="extraInfo">Author: Sangbk | Level : 1 | Category : Love</div>
            </div>
            <div class="audio col-6">
                <div class="audioName">
                    <a href="#">The sun in my heart</a>
                </div>
                <div class="extraInfo">Author: Sangbk | Level : 1 | Category : Love</div>
            </div>
            <div class="audio col-6">
                <div class="audioName">
                    <a href="#">The sun in my heart</a>
                </div>
                <div class="extraInfo">Author: Sangbk | Level : 1 | Category : Love</div>
            </div>
            <div class="audio col-6">
                <div class="audioName">
                    <a href="#">The sun in my heart</a>
                </div>
                <div class="extraInfo">Author: Sangbk | Level : 1 | Category : Love</div>
            </div>
            <div class="audio col-6">
                <div class="audioName">
                    <a href="#">The sun in my heart</a>
                </div>
                <div class="extraInfo">Author: Sangbk | Level : 1 | Category : Love</div>
            </div>
            <div class="audio col-6">
                <div class="audioName">
                    <a href="#">The sun in my heart</a>
                </div>
                <div class="extraInfo">Author: Sangbk | Level : 1 | Category : Love</div>
            </div>
            <div class="audio col-6">
                <div class="audioName">
                    <a href="#">The sun in my heart</a>
                </div>
                <div class="extraInfo">Author: Sangbk | Level : 1 | Category : Love</div>
            </div>
            <div class="audio col-6">
                <div class="audioName">
                    <a href="#">The sun in my heart</a>
                </div>
                <div class="extraInfo">Author: Sangbk | Level : 1 | Category : Love</div>
            </div>
            <div class="audio col-6">
                <div class="audioName">
                    <a href="#">The sun in my heart</a>
                </div>
                <div class="extraInfo">Author: Sangbk | Level : 1 | Category : Love</div>
            </div>
            <div class="audio col-6">
                <div class="audioName">
                    <a href="#">The sun in my heart</a>
                </div>
                <div class="extraInfo">Author: Sangbk | Level : 1 | Category : Love</div>
            </div>
            <div class="audio col-6">
                <div class="audioName">
                    <a href="#">The sun in my heart</a>
                </div>
                <div class="extraInfo">Author: Sangbk | Level : 1 | Category : Love</div>
            </div>
            <div class="audio col-6">
                <div class="audioName">
                    <a href="#">The sun in my heart</a>
                </div>
                <div class="extraInfo">Author: Sangbk | Level : 1 | Category : Love</div>
            </div>
            <div class="audio col-6">
                <div class="audioName">
                    <a href="#">The sun in my heart</a>
                </div>
                <div class="extraInfo">Author: Sangbk | Level : 1 | Category : Love</div>
            </div>
            <div class="audio col-6">
                <div class="audioName">
                    <a href="#">The sun in my heart</a>
                </div>
                <div class="extraInfo">Author: Sangbk | Level : 1 | Category : Love</div>
            </div>
            <div class="audio col-6">
                <div class="audioName">
                    <a href="#">The sun in my heart</a>
                </div>
                <div class="extraInfo">Author: Sangbk | Level : 1 | Category : Love</div>
            </div>
            <div class="audio col-6">
                <div class="audioName">
                    <a href="#">The sun in my heart</a>
                </div>
                <div class="extraInfo">Author: Sangbk | Level : 1 | Category : Love</div>
            </div>
            <div class="audio col-6">
                <div class="audioName">
                    <a href="#">The sun in my heart</a>
                </div>
                <div class="extraInfo">Author: Sangbk | Level : 1 | Category : Love</div>
            </div>

        </div>
        <div class="Category col-12">
            <hr>
            <br>
            <span class="btnTitle">Category</span>
            <br>
            <br>
            <br>
            <div class="categoryContent col-5">
                <div class="img col-4">
                    <img src="~/Content/image/landscape5.jpg" alt="ảnh minh họa">
                </div>
                <div class="imgInfo col-8">
                    <div class="categoryName">
                        Tình Yêu và Cuộc Sống
                    </div>
                    <div class="description">Miêu tả : </div>
                </div>
            </div>
            <div class="categoryContent col-5">
                <div class="img col-4">
                    <img src="~/Content/image/landscape5.jpg" alt="ảnh minh họa">
                </div>
                <div class="imgInfo col-8">
                    <div class="categoryName">
                        Tình Yêu và Cuộc Sống
                    </div>
                    <div class="description">Miêu tả : </div>
                </div>
            </div>
            <div class="categoryContent col-5">
                <div class="img col-4">
                    <img src="~/Content/image/landscape5.jpg" alt="ảnh minh họa">
                </div>
                <div class="imgInfo col-8">
                    <div class="categoryName">
                        Tình Yêu và Cuộc Sống
                    </div>
                    <div class="description">Miêu tả : </div>
                </div>
            </div>
            <div class="categoryContent col-5">
                <div class="img col-4">
                    <img src="~/Content/image/landscape5.jpg" alt="ảnh minh họa">
                </div>
                <div class="imgInfo col-8">
                    <div class="categoryName">
                        Tình Yêu và Cuộc Sống
                    </div>
                    <div class="description">Miêu tả : </div>
                </div>
            </div>
            <div class="categoryContent col-5">
                <div class="img col-4">
                    <img src="~/Content/image/landscape5.jpg" alt="ảnh minh họa">
                </div>
                <div class="imgInfo col-8">
                    <div class="categoryName">
                        Tình Yêu và Cuộc Sống
                    </div>
                    <div class="description">Miêu tả : </div>
                </div>
            </div>
            <div class="categoryContent col-5">
                <div class="img col-4">
                    <img src="~/Content/image/landscape5.jpg" alt="ảnh minh họa">
                </div>
                <div class="imgInfo col-8">
                    <div class="categoryName">
                        Tình Yêu và Cuộc Sống
                    </div>
                    <div class="description">Miêu tả : </div>
                </div>
            </div>
            <div class="categoryContent col-5">
                <div class="img col-4">
                    <img src="~/Content/image/landscape5.jpg" alt="ảnh minh họa">
                </div>
                <div class="imgInfo col-8">
                    <div class="categoryName">
                        Tình Yêu và Cuộc Sống
                    </div>
                    <div class="description">Miêu tả : </div>
                </div>
            </div>
            <div class="categoryContent col-5">
                <div class="img col-4">
                    <img src="~/Content/image/landscape5.jpg" alt="ảnh minh họa">
                </div>
                <div class="imgInfo col-8">
                    <div class="categoryName">
                        Tình Yêu và Cuộc Sống
                    </div>
                    <div class="description">Miêu tả : </div>
                </div>
            </div>
            <div class="categoryContent col-5">
                <div class="img col-4">
                    <img src="~/Content/image/landscape5.jpg" alt="ảnh minh họa">
                </div>
                <div class="imgInfo col-8">
                    <div class="categoryName">
                        Tình Yêu và Cuộc Sống
                    </div>
                    <div class="description">Miêu tả : </div>
                </div>
            </div>
            <div class="categoryContent col-5">
                <div class="img col-4">
                    <img src="~/Content/image/landscape5.jpg" alt="ảnh minh họa">
                </div>
                <div class="imgInfo col-8">
                    <div class="categoryName">
                        Tình Yêu và Cuộc Sống
                    </div>
                    <div class="description">Miêu tả : </div>
                </div>
            </div>
            <div class="categoryContent col-5">
                <div class="img col-4">
                    <img src="~/Content/image/landscape5.jpg" alt="ảnh minh họa">
                </div>
                <div class="imgInfo col-8">
                    <div class="categoryName">
                        Tình Yêu và Cuộc I
                    </div>
                    <div class="description">Miêu tả : </div>
                </div>
            </div>
            <div class="categoryContent col-5">
                <div class="img col-4">
                    <img src="~/Content/image/landscape5.jpg" alt="ảnh minh họa">
                </div>
                <div class="imgInfo col-8">
                    <div class="categoryName">
                        Tình Yêu và Cuộc Sống
                    </div>
                    <div class="description">Miêu tả : </div>
                </div>
            </div>

        </div>
    </div>
</div>