
<div class="footer hvr-rectangle-out">
    <div class="contentText col-12">
        <div class="contact col-4">
            <div class="line col-12">
                <div class="icon col-1">
                    <i class="fa fa-map-marker" style="font-size: 25px;"></i>
                </div>
                <div class="hightlight col-11">
                    ĐHBKHN - Số 1 Đại Cồ Việt
                    <br> Hai Bà Trưng - Hà Nội
                </div>

            </div>
            <div class="line col-12">
                <div class="icon col-1">
                    <i class="fa fa-phone-square" style="font-size: 25px;"></i>
                </div>
                <div class="hightlight col-11">+164 395 7591</div>

            </div>
            <div class="line col-12">
                <div class="icon col-1">
                    <i class="fa fa-envelope-o" style="font-size: 25px;"></i>
                </div>
                <div class="hightlight col-11">sanghust97@gmail.com</div>

            </div>
        </div>
        <div class="about col-7">
            <h2 style="text-align:center">About Us</h2>
            <span style="padding: 10px 20px;" class="aboutText">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                it to make a type specimen book. It has survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum
            </span>
        </div>
    </div>
    <hr>
    <div class="copyright">
        <span>&copy Copyright By Sangbk | 2018 March | Listen And Write | .Net ! </span>
    </div>
</div>