
<div class="header">
    <div class="reference">
        <div class="logo-slogan col-5">
            <div class="logo">
                <img src="~/Content/image/logo10.png" alt="">
            </div>
        </div>
        <div class="login-signup col-7">
            <div class="btnSignUp-btnLogin">
                
                @if(Session["USER_SESSION"] != null)
                {
                     <span class="btnSignUp2">@Html.ActionLink("LogOut", "LogOut", "User")</span>
                     <span style="background-color:#eb902d; padding: 10px 15px ; color : purple; border-radius: 10px;"> <span style="color: white; font-size: 18px;">User:</span> @Session["USER_SESSION"]</span>

                }
                else {
                     <span class="btnSignUp2">@Html.ActionLink("SignUp", "SignUp", "User")</span>
                     <span class="btnLogin2">@Html.ActionLink("Login", "Login", "User")</span>
                }

            </div>
            <br>
            <div class="link">

                <a href="http://zingme.com" target="_blank">
                    <img src="~/Content/image/zingme.png" alt="">
                </a>
                <a href="http://youtube.com" target="_blank">
                    <img src="~/Content/image/youtube1.png" alt="">
                </a>
                <a href="http://twitter.com" target="_blank">
                    <img src="~/Content/image/twitter.jpg" alt="">
                </a>
                <a href="http://linkedin.com" target="_blank">
                    <img src="~/Content/image/linkdin1.png" alt="">
                </a>
                <a href="http://google.com" target="_blank">
                    <img src="~/Content/image/google1.jpg" alt="">
                </a>
                <a href="http://facebook.com" target="_blank">
                    <img src="~/Content/image/fb1.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="topnav" id="myTopnav">
        <a href="#home" class="active">Home</a>
        <a href="#new">News</a>
        <a href="#contact">Contact</a>
        <div class="dropdown">
            <button class="dropbtn">
                Dropdown
                <i></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>

            </div>
        </div>
        <a href="#about">About</a>
        <a href="javascript:void(0);" class="icon" onclick="showNav();">&#9776</a>

    </div>
</div>