
<div class="sidebar">
    <div class="symbol">
        <a href="#">
            <img src="~/Content/image/success.jpg" alt="you can do it">
        </a>
    </div>
    <br>
    <br>
    <div>
        <span id="icon">
            <img src="~/Content/image/add.png" alt="add Audios">
        </span>
        @Html.ActionLink("Add Category", "AddCategory", "Audio")
        <br /><br />
        @Html.ActionLink("Submit new Audio !", "SubmitAudio", "Audio")
              
    </div>
    <br>
    <div>
        <a href="#">Popular Audios !</a>
    </div>
    <br>
    <div>
        <a href="#">Your Score</a>

    </div>
    <br>
    <br>
    <div>
        <h3 style="color: blue;">Top Active Learner</h3>
        <hr>
        <div>
            <span>Sangbk</span>
            <span>1024</span>
        </div>
        <div>
            <span>Sangbk</span>
            <span>1024</span>
        </div>
        <div>
            <span>Sangbk</span>
            <span>1024</span>
        </div>
        <div>
            <span>Sangbk</span>
            <span>1024</span>
        </div>
        <div>
            <span>Sangbk</span>
            <span>1024</span>
        </div>
        <div>
            <span>Sangbk</span>
            <span>1024</span>
        </div>
        <div>
            <span>Sangbk</span>
            <span>1024</span>
        </div>
        <div>
            <span>Sangbk</span>
            <span>1024</span>
        </div>
        <div>
            <span>Sangbk</span>
            <span>1024</span>
        </div>
        <div>
            <span>Sangbk</span>
            <span>1024</span>
        </div>
        <div>
            <span>Sangbk</span>
            <span>1024</span>
        </div>
        <div>
            <span>Sangbk</span>
            <span>1024</span>
        </div>
        <div>
            <span>Sangbk</span>
            <span>1024</span>
        </div>
        <div>
            <span>Sangbk</span>
            <span>1024</span>
        </div>
        <div>
            <span>Sangbk</span>
            <span>1024</span>
        </div>
        <div>
            <span>Sangbk</span>
            <span>1024</span>
        </div>
        <div>
            <span>Sangbk</span>
            <span>1024</span>
        </div>
        <div>
            <span>Sangbk</span>
            <span>1024</span>
        </div>
        <div>
            <span>Sangbk</span>
            <span>1024</span>
        </div>
        <br>
        <hr>
    </div>

</div>