
@{
    ViewBag.Title = "viewBMScore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width: 80%; float:left; border-top: 2px solid blue; background-color:#f0e7f6; border-radius: 10px;">
    <div class="titleGraph">
        The graph in Quick Mode
    </div>
    <ul>
        <li>
            <div style="color:blue; margin-left: 30px;">
                Your historical score !
            </div>
        </li>
        <li>
            <div style="color: orange;; margin-left: 30px;">
                <span style="color: red;">Note : </span>
                High speed is high value
            </div>
        </li>
        <li>
            <div style="color:black; margin-left: 30px;">
                View score in other level 1 | 2
            </div>
        </li>
    </ul>
    <div class="chart">
        <div class="extraInfoGraph">
            < slow  fast >
        </div>
        <div class="horizontalLine">

            <div class="row"><span class="sign"></span><span>400</span></div>
            <div class="row"><span class="sign"></span><span>380</span></div>
            <div class="row"><span class="sign"></span><span>360</span></div>
            <div class="row"><span class="sign"></span><span>340</span></div>
            <div class="row"><span class="sign"></span><span>320</span></div>
            <div class="row"><span class="sign"></span><span>300</span></div>
            <div class="row"><span class="sign"></span><span>280</span></div>
            <div class="row"><span class="sign"></span><span>260</span></div>
            <div class="row"><span class="sign"></span><span>240</span></div>
            <div class="row"><span class="sign"></span><span>220</span></div>
            <div class="row"><span class="sign"></span><span>200</span></div>
            <div class="row"><span class="sign"></span><span>180</span></div>
            <div class="row"><span class="sign"></span><span>160</span></div>
            <div class="row"><span class="sign"></span><span>140</span></div>
            <div class="row"><span class="sign"></span><span>120</span></div>
            <div class="row"><span class="sign"></span><span>100</span></div>
            <div class="row"><span class="sign"></span><span>80</span></div>
            <div class="row"><span class="sign"></span><span>60</span></div>
            <div class="row"><span class="sign"></span><span>40</span></div>
            <div class="row"><span class="sign"></span><span>20</span></div>
            <div class="row"><span class="sign"></span><span>0</span></div>

        </div>
        <div class="verticalLine">
            <div class="col"><span class="tick"></span><span class="date">10/3/2018</span><span class="point" style="bottom: 150px;"><span class="tooltipText">Sangbk</span></span></div>
            <div class="col"><span class="tick"></span><span class="date">10/3/2018</span><span class="point" style="bottom: 100px;"></span></div>
            <div class="col"><span class="tick"></span><span class="date">10/3/2018</span><span class="point" style="bottom: 10px;"></span></div>
            <div class="col"><span class="tick"></span><span class="date">10/3/2018</span><span class="point" style="bottom: 20px;"></span></div>
            <div class="col"><span class="tick"></span><span class="date">10/3/2018</span><span class="point" style="bottom: 200px;"></span></div>
            <div class="col"><span class="tick"></span><span class="date">10/3/2018</span><span class="point" style="bottom: 300px;"></span></div>
            <div class="col"><span class="tick"></span><span class="date">10/3/2018</span><span class="point" style="bottom: 210px;"></span></div>
            <div class="col"><span class="tick"></span><span class="date">10/3/2018</span><span class="point" style="bottom: 500px;"></span></div>
            <div class="col"><span class="tick"></span><span class="date">10/3/2018</span><span class="point" style="bottom: 150px;"></span></div>
            <div class="col"><span class="tick"></span><span class="date">10/3/2018</span><span class="point" style="bottom: 80px;"></span></div>
        </div>
    </div>
</div>

