
@{
    ViewBag.Title = "ListeningModes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="space"></div>
<div class="wrapperModes col-7">
    <div class="infoAudio col-12">
        <div class="level col-2">
            Level 3
        </div>
        <div class="nameAudio col-10">
            The Sun in my heart
        </div>
    </div>
    <br><br><br>
    <div class="modes col-12">
        <div class="col-12" style="text-align:center">
            <div class="alignCenter">
                <a href="#"><img src="~/Content/image/correctionmode.png" alt=""></a>
            </div>
        </div>
        <div class="col-12">
            <div class="col-6">
                <a href="#"><img src="~/Content/image/fullmode.png" alt=""></a>
            </div>
            <div class="col-6">
                <a href="#"><img src="~/Content/image/quickmode.png" alt=""></a>
            </div>
        </div>
        <div class="col-12" style="text-align:center">
            <div class="alignCenter">
                <a href="#"><img src="~/Content/image/blankmode.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
<div class="space"></div>